[submodule "deps/buildit"]
	path = deps/buildit
	url = https://github.com/BuildIt-lang/buildit.git

[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/blaze"]
	path = deps/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
