[submodule "deps/buildit"]
	path = deps/buildit
	url = https://github.com/BuildIt-lang/buildit.git

[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/pinocchio"]
	path = deps/pinocchio
	url = git@github.com:stack-of-tasks/pinocchio.git
	branch = devel
